/* ™ */
html,body{ scroll-behavior: smooth}
.game-main-sec{
  display: flex;
  justify-content: center;
  column-gap: 60px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.main-banner-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: min(960px,100%);
}

.game-screenshots{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.current-game-div {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  overflow-x: scroll;
  max-width: 60rem;
  aspect-ratio: 16/9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}
.current-game-div img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.current-game-div video{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.current-game-div::-webkit-scrollbar {
  display: none;
}

.prev-butn{
  width: 50px;
  height: 50px;
   display: flex;
  align-items: center;
  justify-content: center;
  
}
.next-butn{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-chevron-right,
.fa-chevron-left{
  font-size: 40px;
  color: rgb(255, 145, 0);
}

.fa-chevron-right:hover{
  cursor: pointer;
  transform: translate(5px);
  transition: 0.2s cubic-bezier(0,0,0,0);
}
.fa-chevron-left:hover{
  cursor: pointer;
  transform: translate(-5px);
  transition: 0.2s cubic-bezier(0,0,0,0);
}

.screen-list-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-width: 100%;
}

.screenshots-list{
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.screenshots-list::-webkit-scrollbar {
  display: none;
}

.game-anchor{
  position: relative;
}
.fa-play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  color: rgb(241, 241, 241);
}

.box{
  border-radius: 10px;
  width: 150px;
  height: 100px;
  background-color: #0f0f0f;
  flex: 1 0 100px;
  object-fit: cover;
  scroll-snap-align: start;
}

.game-titleArate{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.game-title{
  font-family: Karla;
  font-weight: 800;
  font-size: 40px;
  color: antiquewhite;
}

.star-wrapper{
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.rating-div{
  display: flex;
}


.rate-value{
  color: rgb(241, 241, 241);
}

/* varskvlavis div */
.star-shape {
  width: 20px;
  height: 17px;
  background-color: rgb(105, 105, 105);
  clip-path:  polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}
.game-info{
  flex-shrink: 0;
  flex-grow: 0;
  width: min(350px,100%);
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.esrb-rateing{
  border: gray 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
}

.esrb-rateing:hover{
  border: rgb(241, 241, 241) 1px solid;
}

.esrb-rateing img{
  width: 60px;
}

.esrb-text{
  color: rgb(241, 241, 241);
  font-family: Karla;
  font-weight: 300;
}

.price{
  color: rgb(241, 241, 241);
  font-family: Karla;
  font-weight: 700;
  font-size: 20px;
}

.main-bttns-div{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.game-bttn{
  cursor: pointer;
  padding: 17px;
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
  border: none;
  color: rgb(241, 241, 241);
  font-size: 16px;
}

.buy-bttn{
  background-color: rgb(255, 145, 0);
  color: rgb(0, 0, 0);
}

.game-bttn:hover{
  background-color: rgb(58, 58, 58);
}
.buy-bttn:hover{
  background-color: rgb(255, 159, 34);
  color: rgb(0, 0, 0);
}

.meta-info{
  display: flex;
  flex-direction: column;

}

.met-div{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(58, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  text-align: right;
  white-space: pre-wrap;
  
  /* flex-wrap: wrap; */
}

.m-title{
  flex-shrink: 0;
  color: rgb(168, 168, 168);
}

.nm{
  color: rgb(241, 241, 241);
  text-wrap: wrap;
}

.plat-name{
  word-break: break-word;
  white-space: pre-line;
}

.social-bttns{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.soc-bttn{
  cursor: pointer;
  border: none;
  background-color: rgb(37, 37, 37);
  color: rgb(241, 241, 241);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  font-size: 16px;
}

.soc-bttn:hover{
  background-color: rgb(58, 58, 58);
}

.fa-share-nodes{
  font-size: 14px;
  color: rgb(241, 241, 241);
}

.fa-flag{
  font-size: 14px;
  color: rgb(241, 241, 241);
}
/* games about info screenshotebis qvesh */

.game-about-sec{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  margin-bottom: 50px;
}

.description{
  color: rgb(241, 241, 241);
  font-size: 17px;
  line-height: 1.5;
  font-family: Karla;
}

.genresAfeatures{
  display: flex;
  justify-content: space-between;
  column-gap: 200px;
}



.genres,
.features{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
  
}

.features{
  border-left: 2px solid rgb(168, 168, 168);
  padding-left: 30px;
}

.genre-title,
.feature-title{
  color: rgb(168, 168, 168);
  font-size: 16px;
  flex-shrink: 0;
}

.genre-div,
.feature-div{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.genre-div > *,
.feature-div > *{
  color: rgb(241, 241, 241);
  font-size: 18px;
  background-color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 10px;
}



/* achievements nawili*/
.achievements{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.achievements h2{
   color: rgb(241, 241, 241);
   font-size: 30px;
   font-family: Karla;
   font-weight: 700;

}

.ach-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.achievements img{
  width: min(165px,100%);
  height: 150px;
  display: cover;
  border-radius: 13px;
}

.achievement{
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.achievement:hover{
  transform: scale(1.12);
  
}

.ach-name{
  color: rgb(241, 241, 241);
  font-size: 19px;
  width: 150px;
  min-width: 100%;
}

.comp-perc{
  color: rgb(168, 168, 168);
  font-size: 19px;
}

@media only screen and (max-width: 1200px) {
 .genresAfeatures{
  flex-direction: column;
  row-gap: 50px;
 }
 .genres{
  border-left: 2px solid rgb(168, 168, 168);
  padding-left: 30px;
 }
}

@media only screen and (max-width: 1024px) {
 .game-main-sec{
  flex-direction: column;
  align-items: center;
 }
 .game-info{
  width: 100%;
 }
 .game-title{
  font-size: 30px;
 }
 .genre-div p,
 .feature-div p{
  font-size: 12px;
 }
}
@media only screen and (max-width: 523px) {
 .met-div{
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
 }
 .social-bttns{
  flex-direction: column;
  row-gap: 20px;
 }
 .game-main-sec{
  padding-left: 20px;
  padding-right: 20px;
 }
 .game-title{
  font-size: 25px;
 }
 .description{
  font-size: 15px;
 }
}



@media only screen and (max-width: 420px) {
 .met-div{
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
 }
 .social-bttns{
  flex-direction: column;
  row-gap: 20px;
 }
 .game-main-sec{
  padding-left: 20px;
  padding-right: 20px;
 }
 .game-title{
  font-size: 25px;
 }
 .description{
  font-size: 12px;
 }
}

