@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body{
    background-color: rgb(29, 29, 29);
    font-family: Roboto;
    display: flex;
    align-items: center;
}

.decore-section{
    background-image: url('../images/half-background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: min(100%,675px);
}

.fa-house{
    color: rgb(255, 145, 0);
    font-size: 50px;
}

.decore-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 145, 0);
    font-size: 100px;
    backdrop-filter: blur(5px);
    text-shadow: 3px 3px 1px beige;
    width: 100%;
    font-family: Lilita One;
    position: relative;
}

.form-section{
    max-width: min(100%,600px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    padding: 20px;
}

.form-title{
    color: rgb(250, 235, 215);
    font-family: Lilita One;
    font-size: 50px;
}

.form-class{
    padding: 10px;
}

.input-field{
    font-size: 20px;
    color: antiquewhite;
    border: none;
    border-bottom: antiquewhite solid 2px;
    background-color: rgb(29, 29, 29);
    margin-bottom: 50px;
    padding: 8px;
    display: inline-block;
    width: 100%;
    outline: none;
}
.input-field:not(:placeholder-shown):valid{

    transition: 0.5s;
    border-bottom: rgb(37, 182, 80) solid 2px; 
}
.input-field:not(:placeholder-shown):invalid{
    transition: 0.5s;
    border-bottom: rgb(155, 37, 37) solid 2px; 
}

.submit-btn:hover{
    cursor: pointer;
}
.submit-btn{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 8px;
    width: 100%;
}

.submit-btn:hover{
    background-color: rgb(248, 224, 193);
}

/* signup section */

.divider{
    display: flex;
    column-gap: 5px;
    align-items: center;
    width: 100%;
}

.line{
    width: 100%;
    border-bottom: antiquewhite solid 2px;
}

.register{
    margin-left: 4px;
    font-size: 17px;
    color: white;
    width: 100%;
}

.home-icon{
    position: absolute;
    top: -20px;
    left: 20px;


}


.termsOfService-div{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.terms-link{
    color: beige;
    text-decoration:underline;
}

.termsOfService-div label{
    color: white;
}

.birthDate-div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.birthDate-div label{
    color: white;    
}

input[type="date"]{
    color: beige;
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 8px;
    /* border-radius: 10px; */
    outline: none;
    border-bottom: beige solid 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: beige;
    border-radius: 50%;
}

input[type="date"]:not(:placeholder-shown):valid{
    transition: 0.5s;
    border-bottom: rgb(37, 182, 80) solid 2px; 
}
