@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
body{
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
}

.decore-section{
    background-image: url('../images/half-background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: min(100%,675px);
}

.fa-house{
    color: rgb(255, 145, 0);
    font-size: 50px;
}

.decore-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 145, 0);
    font-size: 100px;
    backdrop-filter: blur(5px);
    text-shadow: 3px 3px 1px beige;
    width: 100%;
    font-family: Lilita one;
    position: relative;
}

.form-section{
    max-width: min(100%,600px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    padding: 20px;
}

.form-title{
    color: rgb(250, 235, 215);
    font-family: Karla;
    font-size: 50px;
}

.form-class{
    padding: 10px;
}

.form-error{
    color: rgb(190, 38, 38);
    font-size: 15px;
    font-family: Karla;
}


.input-field{
    font-size: 20px;
    color: antiquewhite;
    border: none;
    border-bottom: antiquewhite solid 2px;
    background-color: rgb(29, 29, 29);
    margin-bottom: 50px;
    padding: 8px;
    display: inline-block;
    width: 100%;
    outline: none;
    font-family: Karla;
}


.submit-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 8px;
    width: 100%;
    font-family: Karla;
    color: rgb(49, 49, 49);
}

.submit-btn:hover{
    background-color: rgb(248, 224, 193);
}

/* signup section */

.divider{
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.line{
    width: 33%;
    border-bottom: antiquewhite solid 2px;
}

.register{
    display: inline;
    font-size: 17px;
    color: rgb(199, 199, 199);
    font-family: Karla;
}

.home-icon{
    position: absolute;
    top: -20px;
    left: 20px;
}




.eye-wrapper{
    display: flex;
    column-gap: 20px;
}

.pass-status{
    font-size: 18px;
    font-family: Karla;
    color:antiquewhite;
}

.show-hide-div,
.show-hide-div-rep{
    cursor: pointer;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 20px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



.termsOfService-div{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.terms-link{
    color: beige;
    text-decoration:underline;
    
}



.termsOfService-div label{
    color: rgb(199, 199, 199);
    font-family: Karla;
}

.birthDate-div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#birth-label{
    color: rgb(199, 199, 199); 
    font-family: Karla;   
}

input[type="date"]{
    color: rgb(199, 199, 199);
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 8px;
    outline: none;
    border-bottom: beige solid 2px;
    font-family: Karla;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: beige;
    border-radius: 50%;
}





.home-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 8px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    font-family: Karla;
    color: rgb(49, 49, 49);
}

@media only screen and (max-width: 1166px) {
  body{
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-around;
    
  }
  .home-icon{
    display: none;
  }
  .home-btn{
    display: flex;
  }
  .decore-section{
    height: auto;
    width: 100%;
  }

}

@media only screen and (max-width: 577px) {
 .fa-house{
    font-size: 50px;
 }
 .fa-gamepad{
    font-size: 60px;
 }
 .storeTitle{
    font-size: 60px;
 }
 .register{
    font-size: 12px;
 }
 .form-error{
    font-size: 15px;
 }


}

@media only screen and (max-width: 447px) {

 .register{
    font-size: 10px;
 }

}

@media only screen and (max-width: 377px) {

 .register{
    font-size: 8px;
 }

}

